# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Keras
2. Panda
3. Matplotlib
4. Numpy
5. Tensorflow

| Data Science Tools |
|--------------------|
| RStudio |
| Apache Spark |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [16]:
print ('This a simple arithmetic expression to mutiply then add integers')

This a simple arithmetic expression to mutiply then add integers

In [18]:
(3*4)+5

17

In [19]:
print ('This will convert 200 minutes to hours by diving by 60')

This will convert 200 minutes to hours by diving by 60

In [20]:
total_minutes = 200

In [21]:
hours = total_minutes // 60

In [23]:
minutes = total_minutes % 60

In [29]:
print (hours, "hr", minutes, "min")

3 hr 20 min

### Objectives :
* List Popular Language for Data Science
* List Common Libraries used by Data Scientists
* List Tools for Data Science
* Make Few Examples of Phyton Arithmetic Expressions

## Author
Tan David Kristiawan